.home-section{
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1592169813474-dd0c8e52e3bf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
    display: flex;
    align-items: center;
    
}

.home-content{
    margin-left: 200px;  
}

.home-tagline{
    font-weight: bold;
    font-size: 60px;
    width: 80%;
}

.home-description{
    font-size: 20px;
    color: white;
    margin-bottom: 50px;
}

.home-button{
   width: 200px;
}