*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

body{
  margin: 0;
}

/* container style */

.container{
  max-width: 1250px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;

}

/* h1 style */

h1{
  font-size: 40px;
}

/* button style */

button{
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 5px -2px black;
  padding: 10px 15px;
}


.primary-button{
  color: white;
  font-size: 18px;
  background-color: #0FAF51;
}

/* label style */

label{
  font-weight: bold;
  font-size: 18px;
}


/* input style */

.input {
  display: block;
  margin: 10px 0;
  border: 1px solid grey;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 5px -2px grey;
  color: grey;
  font-size: 18px;
}


/* form style */

.form-page{
 
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container{
  width: 400px;
}

.form-title{
  text-align: center;
  margin-bottom: 30px;
}

